# Rangliste 2

Quelle: OpenData Vaud

In [1]:
import pandas as pd

## Data fetching and cleaning

Für diese Rangliste müssten die Daten manuell von OpenData Vaud heruntergeladen und mit ihrem original Namen im Ordner `/raw` abgelegt werden (Quelle siehe [README.md](/assignment1/readme.md)). Die Namen der Dateien lautet:

- `1. Population résidante permanente par origine, district et commune, Vaud, 2017-2022.csv`
- `6. Population résidante permanente par classe d_âges quinquennale, sexe, origine, district et commun.csv`

In [2]:
# load data (population development over time)
path_population_over_time = 'raw/1. Population résidante permanente par origine, district et commune, Vaud, 2017-2022.csv'
df_communities_population_over_time = pd.read_csv(path_population_over_time, skiprows=7, nrows=312, engine='python', encoding='utf-16')

# clean data
df_communities_population_over_time = df_communities_population_over_time.rename(columns={
    'Commune d\'annonce (actuelle)': 'community_name',
    '2017': 'inhabitants_in_2017',
    '2018': 'inhabitants_in_2018',
    '2019': 'inhabitants_in_2019',
    '2020': 'inhabitants_in_2020',
    '2021': 'inhabitants_in_2021',
    '2022': 'inhabitants_in_2022'
}).drop(columns=[' ', 'Unnamed: 2'])
df_communities_population_over_time = df_communities_population_over_time[df_communities_population_over_time['community_name'] != 'Total']
df_communities_population_over_time = df_communities_population_over_time[df_communities_population_over_time['community_name'].notna()]


# load data (population by age group)
path_population_by_age = 'raw/6. Population résidante permanente par classe d_âges quinquennale, sexe, origine, district et commun.csv'
df_communities_population_by_age = pd.read_csv(path_population_by_age, skiprows=9, skipfooter=1, engine='python')

# clean data
df_communities_population_by_age = df_communities_population_by_age[df_communities_population_by_age[' '] != 'Total']
df_communities_population_by_age = df_communities_population_by_age.rename(columns={
    '0 à 4 ans'   : 'persons_with_age_0-4',
    '5 à 9 ans'   : 'persons_with_age_5-9',
    '10 à 14 ans' : 'persons_with_age_10-14',
    '15 à 19 ans' : 'persons_with_age_15-19',
    '20 à 24 ans' : 'persons_with_age_20-24',
    '25 à 29 ans' : 'persons_with_age_25-29',
    '30 à 34 ans' : 'persons_with_age_30-34',
    '35 à 39 ans' : 'persons_with_age_35-39',
    '40 à 44 ans' : 'persons_with_age_40-44',
    '45 à 49 ans' : 'persons_with_age_45-49',
    '50 à 54 ans' : 'persons_with_age_50-54',
    '55 à 59 ans' : 'persons_with_age_55-59',
    '60 à 64 ans' : 'persons_with_age_60-64',
    '65 à 69 ans' : 'persons_with_age_65-69',
    '70 à 74 ans' : 'persons_with_age_70-74',
    '75 à 79 ans' : 'persons_with_age_75-79',
    '80 à 84 ans' : 'persons_with_age_80-84',
    '85 à 89 ans' : 'persons_with_age_85-89',
    '90 à 94 ans' : 'persons_with_age_90-94',
    '95 à 99 ans' : 'persons_with_age_95-99',
    '100 ans et +': 'persons_with_age_100+',
    'Total'       : 'persons_with_age_total',
    'Commune d\'annonce (actuelle)': 'community_name'
}).drop(columns=[' ', 'Unnamed: 2'])

# merge datasets
df_communities = df_communities_population_over_time.merge(df_communities_population_by_age, on='community_name')
numeric_columns = [
    'persons_with_age_0-4',
    'persons_with_age_5-9',
    'persons_with_age_10-14',
    'persons_with_age_15-19',
    'persons_with_age_20-24',
    'persons_with_age_25-29',
    'persons_with_age_30-34',
    'persons_with_age_35-39',
    'persons_with_age_40-44',
    'persons_with_age_45-49',
    'persons_with_age_50-54',
    'persons_with_age_55-59',
    'persons_with_age_60-64',
    'persons_with_age_65-69',
    'persons_with_age_70-74',
    'persons_with_age_75-79',
    'persons_with_age_80-84',
    'persons_with_age_85-89',
    'persons_with_age_90-94',
    'persons_with_age_95-99',
    'persons_with_age_100+',
    'persons_with_age_total',
    'inhabitants_in_2017',
    'inhabitants_in_2018',
    'inhabitants_in_2019',
    'inhabitants_in_2020',
    'inhabitants_in_2021',
    'inhabitants_in_2022'
]
df_communities[numeric_columns] = df_communities[numeric_columns].replace(',', '', regex=True).astype(int)

print("Beispiel der aufbereitete Daten:")
display(df_communities)

Beispiel der aufbereitete Daten:

,community_name,inhabitants_in_2017,inhabitants_in_2018,inhabitants_in_2019,inhabitants_in_2020,inhabitants_in_2021,inhabitants_in_2022,persons_with_age_total,persons_with_age_0-4,persons_with_age_5-9,...,persons_with_age_55-59,persons_with_age_60-64,persons_with_age_65-69,persons_with_age_70-74,persons_with_age_75-79,persons_with_age_80-84,persons_with_age_85-89,persons_with_age_90-94,persons_with_age_95-99,persons_with_age_100+
0,Aigle,10153,10134,10217,10518,10823,10937,10937,656,630,...,786,621,533,417,432,277,149,93,15,3
1,Bex,7719,7757,7869,7828,8060,8151,8151,462,514,...,563,502,388,323,304,220,149,68,22,3
2,Chessel,403,426,429,444,497,528,528,36,31,...,35,34,20,23,13,12,6,3,0,0
3,Corbeyrier,437,438,437,445,439,440,440,7,18,...,43,23,38,33,33,27,12,3,3,0
4,Gryon,1364,1332,1347,1378,1382,1389,1389,68,78,...,118,100,101,75,72,50,17,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Rossinière,545,548,548,537,534,534,534,20,36,...,43,40,39,18,24,23,9,1,2,0
296,Rougemont,882,882,858,863,862,826,826,33,42,...,70,64,53,53,59,30,18,16,5,0
297,La Tour-de-Peilz,11779,11871,11906,12088,12220,12400,12400,601,637,...,927,722,555,556,595,408,308,104,29,1
298,Vevey,19829,19904,19871,19780,19721,19743,19743,1011,966,...,1305,1057,793,676,630,454,282,132,36,6
299,Veytaux,870,884,922,956,952,970,970,50,47,...,74,71,49,45,32,23,26,9,1,0

## Calculate first criteria

Anteil Personen in arbeitstätigem Alter:
Wie viel Prozent der arbeitstätigen Personen sind zwischen 15 und 64 Jahre alt? Die Prozentzahl wird als Punkte vergeben.

In [3]:
working_ages = [
    'persons_with_age_15-19',
    'persons_with_age_20-24',
    'persons_with_age_25-29',
    'persons_with_age_30-34',
    'persons_with_age_35-39',
    'persons_with_age_40-44',
    'persons_with_age_45-49',
    'persons_with_age_50-54',
    'persons_with_age_55-59',
    'persons_with_age_60-64'
]

def compute_working_age_population(row):
    total = 0
    for age in working_ages:
        total += row[age]
    return total / row['persons_with_age_total']

df_communities['criteria1'] = df_communities.apply(compute_working_age_population, axis=1)

## Calculate second criteria

Verteilung der Altersklassen:
Gibt es bei der Bevölkerung grosse Abweichungen bei den Altersklassen? Eine Altersklasse enthält jeweils 5 Jahre. Es wird die Abweichung von jeder Altersklasse zur Gleichverteilung berechnet und das Quadrat der Abweichung aufsummiert. Je grösser die Abeichung, desto mehr Punkte erhält die Gemeinde.

In [4]:
age_categories = [
    'persons_with_age_0-4',
    'persons_with_age_5-9',
    'persons_with_age_10-14',
    'persons_with_age_15-19',
    'persons_with_age_20-24',
    'persons_with_age_25-29',
    'persons_with_age_30-34',
    'persons_with_age_35-39',
    'persons_with_age_40-44',
    'persons_with_age_45-49',
    'persons_with_age_50-54',
    'persons_with_age_55-59',
    'persons_with_age_60-64',
    'persons_with_age_65-69',
    'persons_with_age_70-74',
    'persons_with_age_75-79',
    'persons_with_age_80-84',
    'persons_with_age_85-89',
    'persons_with_age_90-94',
    'persons_with_age_95-99',
    'persons_with_age_100+'
]

equal_distribution = 100 / len(age_categories) # 100% / number of age categories = equal distribution

def compute_age_distribution(row):
    total = 0
    for age_category in age_categories:
        proportion = 100 * row[age_category] / row['persons_with_age_total'] # percentage of age category
        total += (proportion - equal_distribution) ** 2 # sum of squared differences
    return total


df_communities['criteria2'] = df_communities.apply(compute_age_distribution, axis=1)

## Calculate third criteria

Zuwachs der Bevölkerung:
Die Differenz zwischen der Bevölkerung von 2022 und 2017 wird als Punkte vergeben.

In [5]:
df_communities['criteria3'] = df_communities['inhabitants_in_2022'] - df_communities['inhabitants_in_2017']

## Calculate the final score

In [6]:
# normalize criteria (0-100 scale)
def normalize_column(df, column_name):
    min_val = df[column_name].min()
    max_val = df[column_name].max()
    return ((df[column_name] - min_val) / (max_val - min_val)) * 100

df_communities['criteria1'] = normalize_column(df_communities, 'criteria1')
df_communities['criteria2'] = normalize_column(df_communities, 'criteria2')
df_communities['criteria3'] = normalize_column(df_communities, 'criteria3')

# compute final score
df_communities['score'] = df_communities['criteria1'] * 0.1 + df_communities['criteria2'] * 0.7 + df_communities['criteria3'] * 0.2

In [7]:
# display results
df_communities_to_display = df_communities.sort_values('score', ascending=False)[['community_name', 'criteria1', 'criteria2', 'criteria3', 'score']]
print('Gemeinde Rangliste:')
display(df_communities_to_display)
print("Ausgewählte Gemeinden:")
display(df_communities_to_display.query('`community_name` == "Lavey-Morcles" or `community_name` == "Le Chenit" or `community_name` == "Mauraz"'))

Gemeinde Rangliste:

            community_name   criteria1   criteria2  criteria3      score
211                 Mauraz   68.716222  100.000000  23.247381  81.521098
150         Villars-Epeney   72.554965   96.859354  22.481869  79.553418
109                Démoret   13.012633   95.595091  23.892023  72.996232
281  Chavannes-près-Renens  100.000000   59.112537  66.236906  64.626157
48                 Bettens   92.010041   63.810273  26.107977  59.089791
..                     ...         ...         ...        ...        ...
138           Sainte-Croix   32.810724    2.845180  21.031426   9.478984
101              Le Chenit   38.895872    1.045969  23.086221   9.239010
291               Corseaux   29.621222    1.531924  23.771152   8.788699
107                   Croy   34.182347    0.000000  23.327961   8.083827
294               Montreux   57.857733    2.366561   0.000000   7.442366

[300 rows x 5 columns]

Ausgewählte Gemeinden:

    community_name  criteria1   criteria2  criteria3      score
211         Mauraz  68.716222  100.000000  23.247381  81.521098
5    Lavey-Morcles  44.915064   13.731374  25.181305  19.139730
101      Le Chenit  38.895872    1.045969  23.086221   9.239010

In [8]:
# export results
df_export = df_communities.sort_values('score', ascending=False)
df_export.to_csv('rankings/2_ranking.csv', index=False)